# Dependencies
node_modules

# Production
.next
out

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
